:root {
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
}

body {
  
  background-color: #3af;
  width: 90%;
  height: 90%;
}





.container2{

  margin: 30px auto;
  background-color: white;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 66%;
  text-align: center;
  top: 10%;
  position:absolute;
  left: 15%;
  display: none;
  resize: both;
  border:solid 5px;

}

.weide {
 
  margin: 20px auto;
  background-color: white;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  resize: both;
  display: none;
  border:solid 5px;
}

#file-input {
  display: none;
}

label[for='file-input'] {
  color: white;
  background-color: #06f;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
}

label[for='file-input']:hover {
  background-color: #28f;
}

#file-input:disabled + label[for='file-input'] {
  background-color: #aaa;
  cursor: default;
}

#upload-progress {
  border-color: rgb(27, 5, 1);
  visibility: hidden;
  width: 99%;
  
  height: 25px;
  background-color: #00ea27;
}

#upload-progress.visible {
  visibility: visible;
}

#button {
  color: white;
  background-color: #06f;
  padding: 20px ;
  margin: 0;
  border:solid 1px;
  cursor: pointer;
  border-radius: 50%;
  
}

label[for='file-button'] {
  color: white;
  background-color: #06f;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
}

label[for='file-button']:hover {
  background-color: #28f;
}

#file-button:disabled + label[for='file-button'] {
  background-color: #aaa;
  cursor: default;
}

.p{
  padding: 10px 15px;
}

#menu_principale {
  position: fixed;
  background-color: black;
  color: #f5f6fa;
  padding: 5px;
  top: 0;
  left: 0;
  right: 0;
}

#menu_principale ul {
  margin: 0;
  padding: 0;
}


#menu_principale .voice_menu {
  display: inline-block;
  position: relative;
  cursor: pointer;

}

#menu_principale .voice_menu>div {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  
}

#menu_principale .sotto_menu div {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  width: 150px;
  border: solid 1px #06f;
}

#menu_principale .voice_menu>div:hover {
  background-color: #06f;
}

#menu_principale .voice_menu>div:active {
  background-color: red;
}


#menu_principale .voice_menu>.sotto_menu 
{
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  color: black;
  background-color:white;
}

#menu_principale .voice_menu:hover>.sotto_menu {
  display: inline-block;
}

#menu_principale .sotto_menu .voice_menu>.sub_second_menu {
  display: none;
  position: absolute;
  border: solid 1px;
  top: 0;
  left: 160px;
  background-color:white;
}

#menu_principale .sotto_menu .voice_menu:hover>.sub_second_menu {
  display: inline-block;
}


